<<<<<<< HEAD
.navbar-static-top {
  margin-bottom: 19px;
}

.img-circle {
    border-radius: 50%;
    margin: 0 auto;
    display:block;
}

ul.exprestise {
  padding: 0;
  text-align: center;
}

.expertise li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
  font-size: 1rem;
}

.expertise li:nth-child(odd) {
  background: #0399ff;
}

/*Textarea not resizeable*/
textarea {
  resize:none
}

.center {
  margin: auto;
}

h3 {
  margin: auto;
}

table, th, td {
    border: 2px solid darkgrey;
}
.subject{
    font-size: 20px;
    font-family: "Calibri";
    color: black;
}
.value{
    font-size: 20px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: snow;
}

#biodata{
    width: 760px;
=======
.body{
  margin-top: 70px;
}

pre{
    display: block;
    font-family: Lobster;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
>>>>>>> c4f3abdce51ae3deaf0a981c4c3102bbe746e5c7
}
