<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Linked-Us</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/prof/">Profile</a></li>
      <li><a href="/update-status/">Status</a></li>
      <li><a href="/add_friend/">Friends</a></li>
      <li><a href="/stats/">Stats</a></li>
    </ul>
  </div>
</nav>
