{% extends "stats/layout/base.html" %}

{% block content %}
<br>
<br>
<br>
<style>
  .circular-image {
    border-radius:  50%;
  }
  .feed {
	color: #fae596;
	font-size: 35px;
  }
  .friend {
	color: #fae596;
	font-size: 35px;	
  }
  .space-left {
	padding-left:15px;
  }
  .verified {
	color: #334431;
	font-size: 20px;		
  }

</style>
<br>
<div class="container container-rounded">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-6 col-md-8" style="background-color: aliceblue;">
			<p class="h4">Statistic</p>			
				<center>
					<img src="https://i.imgur.com/jhzx3s9.jpg" alt="my-image" class="circular-image" width="150" height="150"/>
					<p class="h3"><strong>{{author}}<span class="space-left"></span><span class="glyphicon glyphicon-ok-sign verified"></span></strong></p>
				</center>
				<hr>
				<p class="h4">Latest Post</p>
				<div class="alert alert-warning" role="alert">
					<div class="container">
						<div class="row-fluid">
							<table style="width:0%">
								<td><img src="https://i.imgur.com/jhzx3s9.jpg" alt="my-image" class="circular-image" width="50" height="50"/></td>
									<td><p class="h4 text-info">{{author.name}}</p></td>
							</table>    
								<p class="h4 text-dark">{{status.status}}</p>
								<p class="h6 text-secondary">{{status.created_date|date:"d M Y H:i:s"}}</p>
						</div>
					</div>
				</div>
				
		</div>
		<div class="col-xs-6 col-md-4" style="background-color: black;">
			<p class="h3"><font color="yellow"><strong><span class="glyphicon glyphicon-send feed"></span>	{{feeds}} Posts <span class="space-left"></span> <span class="glyphicon glyphicon-user friend"></span> {{friends}} Friends</strong></font></p>
			<br>
			<a class="btn btn-primary" href="#" role="button">Theme 1</a>
			<a class="btn btn-primary" href="#" role="button">Theme 2</a>
			<br>
			<br>
		</div>
	</div>
</div>




{% endblock %}