{% extends "layout/base.html" %}

{% block content %}
<h2 class="textcol"><b>Profile</b></h2>
<img class="img-circle" src="https://i.imgur.com/jhzx3s9.jpg" alt = "Me">
<h2 class="textcol"><b><center>{{name}}</center></b></h2>
<hr>
<section class="textcol"name="profile">
  <div class="container" id="biodata">
    <div class="row">
      <div class="col-md-4"><h3><b>Birthday</b></h3></div>
      <div class="col-md-8"><h4>: {{birthday}}</h4></div>
    </div>
    <div class="row">
      <div class="col-md-4"><h3><b>Gender</b></h3></div>
      <div class="col-md-8"><h4>: {{gender}}</h4></div>
    </div>
    <div class="row">
      <div class="col-md-3"><h3><b>Expertise</b></h3></div>
      <div class="col-md-1" style="text-align:right"><h4>:</h4></div>
      <div class="col-md-8"><h4>
        <div class="center">
          <ul class="expertise">
            {% for ii in expertise %}
            <li style="font-size:15px"> {{ ii }} </li>
            {% endfor %}
          </ul>
        </div></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><h3><b>Description</b></h3></div>
      <div class="col-md-8"><h4>: {{description}}</h4></div>
    </div>
    <div class="row">
      <div class="col-md-4"><h3><b>Email</b></h3></div>
      <div class="col-md-8"><h4>: {{email}}</h4></div>
    </div>
  </div>
</section>
{% endblock %}
