<!DOCTYPE html>
<style>
.textcol{
    color: white;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Add_Friend">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <title>
      {% block title %} {{author}} Add Friend {% endblock %}
    </title>
  </head>
  <body style="background-color: #33495E">
    <header>
      {% include "partials/header.html" %}
    </header>
    <content>
      <div class="container">
        {% block form %}
          <!-- form goes here -->
        {% endblock %}
      </div>
      <div class="container">
        {% block table %}
          <!-- table goes here -->
        {% endblock %}
      </div>
    </content>
    <br />
    <footer>
          <!-- TODO Block Footer dan include footer.html -->
          {% block footer %}
          {% include "partials/footer.html" %}
          {% endblock %}
      </footer>

      <!-- Jquery n Bootstrap Script -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
