{% load staticfiles %}
<!DOCTYPE html>
<style>
body{
  padding-top: 50px;
}
.textcol{
  color:white;
}
.navbar-static-top {
  margin-bottom: 19px;
}

.img-circle {
    border-radius: 50%;
    margin: 0 auto;
    display:block;
    width: 200px;
}

ul.exprestise {
  padding: 0;
  text-align: center;
}

.expertise li {
  border-radius: 6px;
  display: inline-block;
  background: #00BBFF;
  color: white;
  padding: 5px 10px;
  margin: 2px;
  font-size: 1rem;
}

.expertise li:nth-child(odd) {
  background: #1BD889;
}

/*Textarea not resizeable*/
textarea {
  resize:none
}

.center {
  margin: auto;
}

h3 {
  margin: auto;
}

table, th, td {
    border: 2px solid darkgrey;
}
.subject{
    padding-top: 10px;
    font-size: 20px;
    font-family: "Calibri";
    color: black;
}
.value{
    font-size: 20px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: snow;
}

#biodata{
    width: 760px;
}


</style>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="PROFILE">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="{%static "css/prof.css"%}" rel="stylesheet" type="text/css">
    <title>
        {% block title %}Linked-uS Profile{% endblock %}
    </title>
</head>

<body style="background-color: #33495E">
    <header>
              {% include "partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock %}
    </footer>

</body>
</html>
